body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
a{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 180px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    text-transform: uppercase;
    letter-spacing: 4px;
    border: 2px solid #a133b4;
   
    font-size: 30px;
    color: #a133b4;
    text-decoration: none;    
    transition: all 0.5s;
    overflow: hidden;
}
a:hover{
    color: #fff;
}
a span{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #a133b4;
    transition: all 0.5s;
    z-index: -1;
    opacity: 0.5;
}

a span:nth-child(1){

    top: -100%;
    left: -100%;
    
}
a:hover span:nth-child(1){

    top: 0;
    left: 0;
    
}
a span:nth-child(2){

    bottom: -100%;
    left: -100%;
    
}
a:hover span:nth-child(2){

    bottom: 0;
    left: 0;
    
}
a span:nth-child(3){

    bottom: -100%;
    right: -100%;
    
}
a:hover span:nth-child(3){

    bottom: 0;
    right: 0;
    
}
a span:nth-child(4){

    top: -100%;
    right: -100%;
    
}
a:hover span:nth-child(4){

    top: 0;
    right: 0;
    
}