body{
    margin: 0;
    padding: 0;
     background-color: #262626;
    font-family: sans-serif;
}
h1{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    margin: 0;
    padding: 0;

    font-size: 3em;
    background-image: linear-gradient(to right,  #f32170, #ffeb07,#2196f3,#ff00eb);
    -webkit-background-clip:text ;
     color: transparent;   
    text-shadow: 0 0 2px rgba(0,0,0,1);
    
}