body{
    margin: 0;
    padding: 0;
    background-color: #0f0044;
    font-family: sans-serif;
}
a{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) perspective(500px) rotateY(-15deg);
    width: 200px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    text-shadow: 6px 3px 2px rgba(0,0,0,0.2);
    font-size: 20px;
    background-image: linear-gradient(90deg,#3603ff,#a41ee9);
    color: #fff;
    text-decoration: none;
    border-radius: 25px;
    letter-spacing: 1px;
    transition: all 0.6s;
    overflow: hidden;
    box-shadow: 0 0 0 5px rgba(0,0,0,0.2);
}
a:hover{
    transform: translate(-50%,-50%) perspective(500px) rotateY(15deg);
}
a::before{
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    transition: all 0.6s;
    background-image: linear-gradient(90deg,transparent,#fff, transparent);

}
a:hover::before{
    left: 100%;
    
}